body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: darkseagreen;
    /* align-items: center; */
}
.thumbnails-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    padding-top: 2.5vh;
}
.thumbnails-image {
    width: 20vw;
    height: 15vw;
    display: block;
}
.details-image{
    width: 80vw;
    height: 50vw;
}
.details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}
.thumbnails-title{
    display: block;
    text-align: center;
    background-color: beige;
    color: blue;
    font-size: 1.2rem;
}
.details-item{
    margin-top: 2vh;
}
.details-title{
    background-color: cornsilk;
    position: absolute;
    left: 3vw;
    bottom: 2vw;
    text-align: center;
}
.thumbnails-item{
    margin-top:  2vh;
    margin-left: 2vw;
    border: 1px solid blue;
}
.thumbnails-anchor{
    text-decoration: none;
}
.logo-title{
    background-color: darkgoldenrod;
    color: rgb(24, 34, 6);
    text-align: center;
    text-transform: uppercase;
}
body, html{
    height: 100%;
}
@media (min-width: 568px) {
    .thumbnails-list{
        flex-direction: column;
        flex-wrap: nowrap;
        order: -1;
    }
    .thumbnails-title{
        width: 20vw;
    }
    .thumbnails-item{
        max-width: 20vw;
    }
}
