body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(37, 37, 104, 0.911);
    /* align-items: center; */
}
.thumbnails-list {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: auto;
    justify-content: left;
    list-style:none;
    padding: 0;
    padding-top: 2.5vh;
}
.thumbnails-image {
    width: 20vw;
    height: 15vw;
    display: block;
    border-radius: 25px 25px 0px 0px;
}
.details-image{
    width: 60vw;
    height: 50vw;
    position: absolute;

}
.details-container{
    display: flex;
    flex-direction: column;
    /* align-items:flex-end; */
    position: fixed;
    justify-content: right;
    right: 20vw;
    
}
.thumbnails-title{
    display: block;
    text-align: center;
    background-color: white;
    color: blue;
    font-size: 1.2rem;
    border-radius: 0px 0px 25px 25px;

}
.details-item{
    margin-top: 2vh;
}
.details-title{
    position:relative;
    right: 2vw;
    top: 45vw;
    border-style: solid;
    border-color: orangered;
    padding: auto;
    background-color: orangered;
    font-style: italic;
    font-size: auto; 
    color: white;
} 
.thumbnails-item{
    margin-top:  2vh;
    margin-left: 0vw;
    border: 2px solid white;
    border-radius: 25px;

}
.thumbnails-anchor{
    text-decoration: none;
}
.logo-title{
    background-color: lightblue;
    color: rgb(24, 34, 6);
    text-align:center;
    text-transform: uppercase;
    font-size: 10px;
    position: relative;
}

body, html{
    height: 100%;
}
.footer-title{
background-color: lightblue;
background-size: auto;
color: rgb(24, 34, 6);
text-align:center;
font-size: 10px;
position: relative;
}


@media (min-width: 568px) {
    .thumbnails-list{
        flex-direction: column;
        flex-wrap: nowrap;
        order: -1;
    }
    .thumbnails-title{
        width: 20vw;
    }
    .thumbnails-item{
        max-width: 20vw;
    }
}
